<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.google.android.gms" />

        <!-- Phone / Dialer apps -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>

        <!-- SMS apps -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="smsto" />
        </intent>

        <!-- Email app -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimationAndroid"
        tools:targetApi="31">
        <activity
            android:name=".bottomnavigation.BottomNavigationViewActivity"
            android:exported="false" />
        <activity
            android:name=".radiobuttonwithviewpagertwo.RadiobuttonWithViewpagerTwoActivity"
            android:exported="false" />
        <activity
            android:name=".tablayoutwithviewpagertwo.TabLayoutWithVIewPagerTwoActivity"
            android:exported="false" />
        <activity
            android:name=".tablayoutwithviewpager.TabLayoutWithViewpagerActivity"
            android:exported="false" />
        <activity
            android:name=".fragment_dynamic.FragmentDynamicActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".implicit_intent.ImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".alertdialog.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".listview_spinner_autocomplete_textview.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".google_map.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".google_map.GoogleMapClusterActivity"
            android:exported="false"
            android:label="@string/title_activity_google_map_cluster"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".google_map.GoogleMapWithCustomInfoWindowActivity"
            android:exported="true"
            android:label="@string/title_activity_googlr_map_with_custom_info_window"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>